<h1>ALL ABOUT ME!</h1>

<strong>Name:</strong> <%= @employee.first_name %> <%= @employee.last_name %>
<br/>
<strong>Alias:</strong> <%= @employee.alias %>
<br/>
<strong>Title:</strong> <%= @employee.title %>
<br/>
<strong>Office:</strong> <%= @employee.office %>
<br/>
<strong>PHOTO:</strong>
<br/>
<img src="<%= @employee.img_url %>" />
